^contentpage {
    background-color: #e2c3c3;
}

#label.wl {
    font-size: 50;
    font-weight: bold;
    color: #2c2f37;
}

#Entry {
    font-size: 15;
    color: #2c2f37;
    background-color: white;
    margin: 30,0, 30,0;
}

#Button {
    background-color: #2c2f37;
    color: #e2c3c3;
    font-size: 20;
    font-weight: bold;
    border-width: 20;
    margin: 30, 0, 30, 0;
}
